.dashboard--content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 70%;
}

.dashboard--content--charts {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.dashboard--content--table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
