@import "C:/Users/Akaymi/dashboard/src/VariablesMixingFont";
td {
    border: solid 1px rgb(238, 238, 238);
    height: 2em;
    .editsensor {
        display: none;
    }
    .Modify {
        width: 100%;
        height: 100%;
        display: flex;
        @include center();
        div {
            height: 25px;
            width: 25px;
            cursor: pointer;
            position: relative;
            display: flex;
            @include center();
            .edit {
                display: inline;
                width: 25px;
                height: 25px;
            }
            .correct {
                display: none;
                width: 30px;
                height: 35px;
            }
        }
    }
}