@import "C:/Users/Akaymi/dashboard/src/VariablesMixingFont";
.dashboard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7% 93%;
    height: 100vh;
    overflow: hidden;
}

.navbar--column {
    display: flex;
    flex-direction: row;
    background-color: $thirdColor;
    position: fixed;
    height: 7vh;
    width: 100%;
    @include center();
    .navbar--logo {
        display: flex;
        @include center();
        height: 7vh;
        width: 20vmax;
        overflow: hidden;
        border-right: solid 2px rgba(0, 0, 0, 0.053);
        div img {
            display: block;
            width: 20%;
            height: 100%;
            overflow: hidden;
            margin-left: 35%;
        }
    }
    .navbar--list {
        display: flex;
        @include center();
        width: 60vmax;
        height: 7vh;
        overflow: hidden;
        border-right: solid 2px rgba(0, 0, 0, 0.053);
        button {
            height: 100%;
            width: 100%;
            background-color: $thirdColor;
            color: rgba(255, 255, 255, 0.87);
            border: none;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            font-weight: 600;
            font-family: $DSFont;
            font-size: 16px;
            &:hover {
                background-color: rgb(255, 255, 255);
                color: $thirdColor;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                cursor: pointer;
            }
            &:active {
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
            }
        }
    }
    .username--title {
        display: flex;
        height: 10vh;
        width: 20vmax;
        color: rgba(255, 255, 255, 0.87);
        flex-direction: row;
        @include center();
        .username--login--panel {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .login--cercle {
                background-color: greenyellow;
                border-radius: 50%;
                width: 10px;
                height: 10px;
            }
            .login--username {
                font-weight: 600;
                font-family: $LoginTitle;
                margin-left: 10px;
                color: white;
                margin-top: 10px;
                .login--arrow {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid white;
                    margin-left: 20px;
                    &:hover {
                        transform: translateY(50%);
                    }
                    .user--panel {
                        width: 100%;
                        height: 100%;
                        position: flex;
                        flex-direction: column;
                        @include center();
                        display: none;
                        button {
                            transform: translateX(-50%);
                            border: solid 2px;
                            width: 20em;
                            text-align: center;
                            height: 2.5em;
                            cursor: pointer;
                            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                            border: none;
                            font-weight: 600;
                            font-family: $LoginTitle;
                            &:hover {
                                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                            }
                            &:active {
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                            }
                        }
                        .Logoutbutton {
                            color: red;
                        }
                    }
                }
            }
            .login--logo {
                img {
                    width: 35px;
                    height: 35px;
                    margin-top: 4px;
                    margin-left: 10px;
                    object-fit: fill;
                }
            }
        }
    }
}

.dashboard--content {
    background-color: $white;
    height: 100vh;
    width: 100%;
}

.navbar--column .username--title .username--login--panel:hover .login--username .login--arrow {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.navbar--column .username--title .username--login--panel:hover .login--username .login--arrow .user--panel {
    display: block;
}

.navbar--column .username--title .username--login--panel:hover .login--username .login--arrow .user--panel:hover {
    display: block;
}