@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.table--container {
  width: 100%;
  height: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px;
}

.table--container .confirm--message {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 1;
  top: 0px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table--container .confirm--message .message--overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.table--container .confirm--message .message--box {
  position: absolute;
  width: 50em;
  height: 14em;
  background-color: white;
  border-radius: 20px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table--container .confirm--message .message--box .close--message {
  position: absolute;
  top: 0px;
  right: 30px;
  font-weight: 900;
  font-family: "Poppins";
  font-size: 2em;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 2em;
  height: 2em;
}

.table--container .confirm--message .message--box .message--title {
  font-weight: 600;
  font-family: "Poppins";
  font-size: 2em;
  text-align: center;
}

.table--container .confirm--message .message--box .message--button--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table--container .confirm--message .message--box .message--button--container .non--button {
  background-color: #619ed5;
  border: none;
  color: white;
  width: 10em;
  height: 3em;
  border-radius: 2em;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.table--container .confirm--message .message--box .message--button--container .non--button:active {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.table--container .confirm--message .message--box .message--button--container .yes--button {
  background-color: #aa0000;
  border: none;
  color: white;
  width: 10em;
  height: 3em;
  margin-right: 5em;
  border-radius: 2em;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.table--container .confirm--message .message--box .message--button--container .yes--button:active {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.table--container .table {
  display: block;
  width: 90%;
  height: 90%;
  background-color: white;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: auto;
}

.table--container .table .button--group {
  width: 15em;
  height: 2.2em;
  position: absolute;
  top: -38px;
  right: 0px;
  border-radius: 5px;
  border: none;
  background-color: red;
  font-family: "Roboto Condensed";
  font-size: 0.9em;
  color: white;
  opacity: 0.1;
  cursor: not-allowed;
}

.table--container .table .button--group .button--group--arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 72px;
  background-image: url("trash-icon.svg");
  top: 5px;
}
/*# sourceMappingURL=Hardwaretable.css.map */