@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.action--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.action--container .window--add--container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #619ed5;
}

.action--container .window--add--container .side-info-add-sensor {
  width: 25em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action--container .window--add--container .side-info-add-sensor .infocontainer {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-left: 3em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action--container .window--add--container .side-info-add-sensor .infocontainer .title {
  font-weight: 300;
  font-size: 1.8em;
  height: 10%;
  font-weight: 600;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 6em;
}

.action--container .window--add--container .side-info-add-sensor .infocontainer .infotext {
  font-weight: 300;
  font-size: 0.95em;
  height: 18em;
}

.action--container .window--add--container .side-info-add-sensor .infocontainer .infotext .inputlistcontroler {
  width: 50%;
  height: 11em;
  overflow: auto;
}

.action--container .window--add--container .side-info-add-sensor .infocontainer .leave--btn--addsensor {
  width: 100%;
  height: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

.action--container .window--add--container .side-info-add-sensor .infocontainer .leave--btn--addsensor button {
  color: white;
  width: 8em;
  height: 3em;
  background-color: red;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  border: solid red;
  margin-top: 20px;
}

.action--container .window--add--container .window--add--box {
  height: 100%;
  width: 40em;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 1;
}

.action--container .window--add--container .window--add--box button.closewindow {
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 30px;
  border: none;
  cursor: pointer;
}

.action--container .window--add--container .window--add--box button.closewindow img {
  width: 10em;
  height: 5em;
  -webkit-animation-name: folowup;
          animation-name: folowup;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.action--container .window--add--container .window--add--box h1 {
  color: white;
  height: 30px;
  font-weight: 600;
}

.action--container .window--add--container .window--add--box .form-add-sensor {
  position: relative;
  width: 80%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: solid 2px #eeeeee;
}

.action--container .window--add--container .window--add--box .form-add-sensor form {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10em;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form .errMsg--alarm {
  width: 90%;
  height: 100%;
  position: relative;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form .errMsg--alarm .msgbackground {
  background-color: red;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form .errMsg--alarm .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  z-index: 1;
  padding: 5px;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form .alarm-name-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form .alarm-name-input-box div span {
  color: white;
  font-weight: 600;
  margin-right: 10px;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form label {
  color: white;
  font-weight: 600;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form input {
  background-color: #7cb0db;
  border: none;
  outline: none;
  height: 2em;
  margin: 10px;
  color: white;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form input.upperlower--input {
  width: 2em;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-alarm-form select {
  background-color: #7cb0db;
  border: none;
  outline: none;
  height: 2em;
  margin: 10px;
  color: white;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form .errMsg--alarm {
  width: 90%;
  height: 100%;
  position: relative;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form .errMsg--alarm .msgbackground {
  background-color: red;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form .errMsg--alarm .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  z-index: 1;
  padding: 5px;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form label {
  color: white;
  font-weight: 600;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form input {
  background-color: #7cb0db;
  border: none;
  outline: none;
  height: 2em;
  margin: 10px;
  color: white;
}

.action--container .window--add--container .window--add--box .form-add-sensor form .add-sensor-form select {
  background-color: #7cb0db;
  border: none;
  outline: none;
  height: 2em;
  margin: 10px;
  color: white;
}

.action--container .window--add--container .window--add--box .button--next {
  width: 10em;
  height: 3.7em;
  border: solid 3px white;
  color: white;
  font-weight: 600;
  background-color: transparent;
  z-index: 5;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.action--container .window--add--container .window--add--box .button--next:hover {
  background-color: white;
  color: #619ed5;
}

.action--container .add--button--container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action--container .add--button--container .add--button {
  width: 2em;
  height: auto;
  font-size: 12em;
  z-index: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #9c9a9a;
  position: relative;
  font-family: "Poppins";
}

.action--container .add--button--container .add--button .arrow {
  width: 100px;
  border-bottom: solid 2px;
  border-radius: 0% 0% 0% 80%;
  height: 50px;
  border-color: #9c9a9a;
  position: relative;
  position: absolute;
  top: 93px;
  left: 20px;
  font-size: 15px;
  font-family: "Rajdhani";
}

.action--container .add--button--container .add--button .arrow .point {
  position: absolute;
  border: solid 2px;
  width: 0;
  height: 0;
  right: -20px;
  bottom: -10px;
  border-left: 10px solid #9c9a9a;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.action--container .add--button--container .add--button .arrow .message {
  color: #9c9a9a;
  position: absolute;
  left: -70px;
  top: -10px;
}

@-webkit-keyframes folowup {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes folowup {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=HardwareAction.css.map */