.boxpanel--sensor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.boxpanel--sensor .boxpanel--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxpanel--sensor .boxpanel--container .disable--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 13%;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxpanel--sensor .boxpanel--container .disable--container .disable--dropdown {
  background-color: #fecf6d;
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.boxpanel--sensor .boxpanel--container .disable--container .disable--dropdown .text {
  margin-left: 10px;
  color: white;
  font-weight: 600;
}

.boxpanel--sensor .boxpanel--container .disable--container .disable--dropdown .arrowdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 3em;
  position: relative;
}

.boxpanel--sensor .boxpanel--container .disable--container .disable--dropdown .arrowdown div {
  width: 2.2em;
  height: 2.2em;
  margin-top: 11px;
}

.boxpanel--sensor .boxpanel--container .disable--container .disable--dropdown .arrowdown div img {
  width: 2.2em;
  height: 2.2em;
}

.boxpanel--sensor .boxpanel--container .disable--container .thedropdown {
  background-color: #d4a53f;
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.boxpanel--sensor .boxpanel--container .disable--container .thedropdown .text {
  margin-left: 20px;
  color: white;
  font-weight: 300;
}

.boxpanel--sensor .boxpanel--container .disable--container .thedropdown .button--disable--enable {
  margin-right: 20px;
}

.boxpanel--sensor .boxpanel--container .disable--container .thedropdown .button--disable--enable button {
  background-color: #fecf6d;
  border: none;
  color: white;
  width: 10em;
  height: 2em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.boxpanel--sensor .boxpanel--container .delete--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 13%;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.boxpanel--sensor .boxpanel--container .delete--container .delete--dropdown {
  background-color: red;
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.boxpanel--sensor .boxpanel--container .delete--container .delete--dropdown .text {
  margin-left: 10px;
  color: white;
  font-weight: 600;
}

.boxpanel--sensor .boxpanel--container .delete--container .delete--dropdown .arrowdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 3em;
  position: relative;
}

.boxpanel--sensor .boxpanel--container .delete--container .delete--dropdown .arrowdown div {
  width: 2.2em;
  height: 2.2em;
  margin-top: 11px;
}

.boxpanel--sensor .boxpanel--container .delete--container .delete--dropdown .arrowdown div img {
  width: 2.2em;
  height: 2.2em;
}

.boxpanel--sensor .boxpanel--container .delete--container .thedropdown {
  background-color: #ab0600;
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.boxpanel--sensor .boxpanel--container .delete--container .thedropdown .text {
  margin-left: 20px;
  color: white;
  font-weight: 300;
}

.boxpanel--sensor .boxpanel--container .delete--container .thedropdown .button--disable--enable {
  margin-right: 20px;
}

.boxpanel--sensor .boxpanel--container .delete--container .thedropdown .button--disable--enable button {
  background-color: red;
  border: none;
  color: white;
  width: 10em;
  height: 2em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.boxpanel--sensor .boxpanel--container .update--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
  width: 90%;
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info {
  width: 30em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info h2 {
  height: 10%;
  margin-left: 10px;
  color: #424f5a;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info h5 {
  color: #424f5a;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info .text--info {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 70px;
  color: #424f5a;
  padding-left: 50px;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info .text--info li {
  list-style: none;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info .text--info .cercle-red {
  border: solid 1px #E83816;
  background-color: #e83816;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .container--info .text--info .cercle-green {
  border: solid 1px #6cdb04;
  background-color: #6cdb04;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor {
  width: 36em;
  height: 100%;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .form--labelinput--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .form--labelinput--container label {
  color: #424f5a;
  font-weight: 600;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .form--labelinput--container input {
  border: none;
  outline: none;
  background-color: #eeeeee;
  width: 9em;
  height: 1.8em;
  margin: 1em;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .form--labelinput--container select {
  border: none;
  outline: none;
  background-color: #eeeeee;
  min-width: 4em;
  height: 1.8em;
  margin: 1em;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .button--update--sensor {
  margin-top: 20px;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .button--update--sensor button {
  background-color: transparent;
  width: 10em;
  height: 3em;
  border: lightgreen solid 1px;
  cursor: pointer;
  font-weight: 600;
  color: #424f5a;
}

.boxpanel--sensor .boxpanel--container .update--container .update--dropdown .form--update--sensor form .button--update--sensor button:hover {
  background-color: lightgreen;
  color: white;
}
/*# sourceMappingURL=SensorsSettings.css.map */