@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 100vh;
  overflow: hidden;
}

.username--title {
  position: fixed;
  top: 20px;
  right: 0px;
  font-family: "Rajdhani";
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
  cursor: pointer;
}

.username--title div {
  margin-left: 6px;
}

.username--title .cercle--login {
  border-radius: 50%;
  padding: 5px;
  background-color: #46bf46;
  -webkit-animation: ping 2s linear infinite alternate;
          animation: ping 2s linear infinite alternate;
}

.navbar--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #619ed5;
  position: fixed;
  height: 100vh;
  width: 10vmax;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar--column .navbar--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20vh;
  width: 100%;
}

.navbar--column .navbar--logo div img {
  display: block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin-left: 25%;
}

.navbar--column .navbar--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
  width: 100%;
}

.navbar--column .navbar--list button {
  height: 5em;
  width: 100%;
  background-color: #619ed5;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-weight: 600;
  font-family: "Roboto Condensed";
  font-size: 16px;
}

.navbar--column .navbar--list button:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar--column .navbar--list button:active {
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar--column .navbar--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20vh;
  width: 100%;
}

.navbar--column .navbar--footer .navbar--footer-content {
  position: absolute;
  bottom: 5px;
}

.dashboard--content {
  background-color: #eeeeee;
}

/*@keyframes ping {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}*/
/*# sourceMappingURL=App.css.map */